@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
	font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
}

body {
  background-color: #81a69b;
  /* background-color: #151515; */
  margin: 0;
  padding: 0;
}

.hide {
  background-color: palegoldenrod;
  color: black;
  padding: 5px;
  opacity:0;
}

@keyframes flash {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

.show {
  opacity: 0;
  background-color: palegoldenrod;
  color: black;
  padding: 5px;
  animation: flash 3s linear;
  /* transition: opacity 2s ease-in-out; */
}